.products .container .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    text-align: center;
    cursor: pointer;
}

.ProductItem img{
    width: 300px;
    height: 300px;
}

.products .container .inner .ProductItem:first-child img{
    margin-top: -20px;
    margin-bottom: 20px;
    
}

.navigate-button{
    background-color: #000;
    color:#fff;
    padding: 6px 8px;
    margin-top:30px;
    border-radius: 5px;
    border: 1px solid;
    height: 45px;
    width: 100px;
}

.navigate-button:hover{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.title-of-category{
    text-align: center;
    margin-top: 20px;
}

@media(max-width:690px){
    .products .container .inner{
        justify-content: center;
    }
} 