.cart .container .inner{ 
    display: flex; 
    justify-content: space-between; 
    position: relative; 
    width: 900px; 
    margin:20px auto;  
    border:.1px solid #3333; 
    padding:20px; 
} 
 
.cart .container .inner>div{ 
    display: flex;
    align-items: center;
} 
 
.cart .container .inner .cateogory-text{
    margin-bottom: 0!important;
}
.cart .container .inner img{ 
    width: 170px; 
    height: 170px;  
} 
 
.button-box .content{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-size: 18px;
} 

.button-box .content h4, .cart .container .inner .box h4{
    margin-top: 8px;
}

.close{ 
    position: absolute; 
    left:92%; 
    top:10%; 
    background-color: none;
    padding:5px 8px;
    background-color: #000;
    color:#fff;
} 
 
.checkout{ 
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px;
    padding:8px 12px;
    margin:10px auto;
} 
 
.checkout .checkout-btn{
    color:#000;
    text-decoration: none;
}

.button-box button{ 
    background-color: #000; 
    color:#fff; 
    border-radius: 5px; 
    border: 1px solid; 
    padding: 0 10px; 
    margin: 0 5px; 
}


@media(max-width:950px){
    .cart .container .inner{
        width: 700px;
    }
}

@media(max-width:750px){
    .cart .container .inner{
        width: 600px;
    }
}

@media(max-width:600px){
    .cart .container .inner{
        width: 450px;
        flex-direction: column;
    }
    .cart .container .inner>div{
        display: flex;
        justify-content: center;
    }
}